.container-fluid{
    background-color: lightblue;
    text-align: center;
    border: 4px solid rgb(99, 60, 1); 
  padding-right: 150px;
    display: inline-block;
    
    
  }
  
  
form  { display: table; }
.form-group { display: table-row; }
label { display: table-cell; }
input { display: table-cell; }

